<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>           	
		<div id='cssmenu'>
			<ul>
				<li class='active'><%= link_to "Home",'#' %></li>				
				<li class='has-sub'><%= link_to "Account" %>					
				</li>
			   <li><a href='#'><span>About</span></a></li>  			  
			</ul>
		</div>     
    </div>
  </div>
</header>